@{
  ViewBag.Title = "Witaj internauto!";
}
<div class="row">
  <div class="col-md-9">
    <div class="product-info">
      <img src="~/img/gpu.jpg" />
      <h3>PROMOCJA GPU</h3>
      <ul class="products-props">
        <li>Cena: 4999 PLN</li>
        <li>Producent: AORUS</li>     
        
      </ul>
      
    </div>  
    

    <div>
      <div id="loginToggle">Login</div>
      <form class="popup-form">
        <div>
          <label>Uzytkownik</label>
          <input />
        </div>
        <div>
          <label>Haslo</label>
          <input type="password" />
        </div>
        <div>
          <input type="checkbox" />
          <label>Pamietaj mnie?</label>
        </div>
        <div>
          <input type="submit" value="Login" />
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-3">    
  </div>
</div>